<html>

<head>
   <title>{% block title %}Error{% endblock %}</title>

   <link rel="shortcut icon" href="{{url_for('static',filename='expense.jpg')}}">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
 <div class="well text-center">
      <h1>ERROR</h1>
   </div>
<div class="container">
  <div class="row">
         <div class="col-md-12">
    <h3> Some Error Occured </h3>
         </div>
  </div>
</div>



</body>

</html>