<html>

<head>
   <title>{% block title %}Expense Tracker{% endblock %}</title>

   <link rel="shortcut icon" href="{{url_for('static',filename='expense.jpg')}}">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


   <nav class="navbar navbar-default">

      <div class="container">

         <!-- <div class="navbar-header"> -->
         <a class="navbar-brand" style="background-color: rgb(137, 137, 217);color: white;" href="/home">
            <span class="fa fa-home" aria-hidden="true">
            </span>
         </a>

         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <!-- </div> -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
<li><a href="/expense_head">Expense Head</a></li>
               <li><a href="/income_head">Income Head</a></li>
                 <li><a href="/record_expense">Record Expense</a></li>
               <li><a href="/expense_report">Expense Report</a></li>
<li><a class="btn btn-default"  href="/logout">Logout {{res.username}} </a></li>
            </ul>

         </div>


      </div>

   </nav>

   <!-- <div class="container"> -->
   <div class="well text-center">
      <h1>{% block pagetitle %}WELCOME TO PERSONAL EXPENSE TRACKER{% endblock %}</h1>
   </div>
   {% block body %}

   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <img src="{{url_for('static',filename='expense.jpg')}}" class="img-circle img-responsive center-block"
              alt="expense tracker" width="304" height="236">

         </div>
      </div>



   </div>
   {% endblock %}
   <div class="well well-sm text-center">
      <h6>© alkamapanjwani</h6>
   </div>
   <!-- </div> -->

</body>

</html>