<html>

<head>
   <title>{% block title %}Expense Tracker{% endblock %}</title>

   <link rel="shortcut icon" href="{{url_for('static',filename='expense.jpg')}}">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
   <div class="well text-center">
      <h1>PERSONAL EXPENSE TRACKER</h1>
      <h3>LOGIN</h3>
   </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">


            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                {{message}}
            </div>


            {%endfor%}
            {%endif%}
            {%endwith%}


            <form action="{{ url_for('login_authorize') }}" method="POST">


                <div class="form-group">


                    <label>Username:</label>
                    <input type="text" class="form-control"  name="username" required="1">


                </div>


                <div class="form-group">


                    <label>Password:</label>
                    <input type="password" class="form-control"  name="password" required="1">


                </div>



                <div class="form-group">


                    <button class="btn btn-primary bt-lg btn-block" type="submit"> Login </button>
                </div>



                <div class="form-group">
                    <a class="btn btn-info bt-lg btn-block" href="/register" role="button">Register</a>
<!--                    <a href="/"><button class="btn btn-primary" type="submit"> Register </button></a>-->

                </div>


            </form>


        </div>



    </div>




</div>

  <div class="well well-sm text-center">
      <h6>© alkamapanjwani</h6>
   </div>
</body>

</html>