{% extends 'index.html' %}

{% block title %}Record Expense{% endblock %}

{% block pagetitle %}Record Expense{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">


            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button aria-label="close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">x</span>
                </button>
                {{message}}
            </div>


            {%endfor%}
            {%endif%}
            {%endwith%}


            <form action="{{ url_for('insert_record_expense') }}" method="POST">

                <div class="form-group">


                    <label>Expense Head:</label>
                    <select class="form-control" name="expense_head_id" required="1">
                        {% for row in res.expense_head_list %}
                        <option value="{{row.0}}">{{row.1}}</option>
                        {%endfor%}
                    </select>


                </div>
                <div class="form-group">


                    <label>Income Head:</label>
                    <select class="form-control" name="income_head_id" required="1">
                        {% for row in res.income_head_list %}
                        <option value="{{row.0}}">{{row.1}}</option>
                        {%endfor%}
                    </select>


                </div>
                <div class="form-group">

                    <label>Amount:</label>
                    <input class="form-control" name="amount" required="1" step=".01" type="number">

                </div>


                <div class="form-group">

                    <label>Comment:</label>
                    <input class="form-control" name="comment" type="text">

                </div>
                <div class="form-group">


                    <button class="btn btn-primary" type="submit"> Submit</button>


                </div>


            </form>


        </div>


    </div>


</div>

{% endblock %}